<%= layout("layouts/boilerplate") %>
<form action="/new" method="POST" class="centered-form" enctype="multipart/form-data">
  <h1>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Add New Business</h1>
  <hr>
    <div class="form-group">
        <label for="name">Business Name</label>
        <input type="text" id="name" name="Name" class="form-control" placeholder="Business Name" required>
    </div>
    <div class="form-group">
        <label for="category">Category</label>
        <select id="category" name="Category" class="form-control" required>
            <option value="Restaurant">Restaurant</option>
            <option value="Services">Services</option>
            <option value="Dealership">Dealership</option>
            <option value="Cafe">Cafe</option>
            <option value="Shops">Shops</option>
        </select>
    </div>
    <div class="form-group">
        <label for="description">Description</label>
        <textarea id="description" name="description" class="form-control" placeholder="Description" required></textarea>
    </div>
    <div class="form-group">
        <label for="contact">Contact</label>
        <input type="text" id="contact" name="Contact" class="form-control" placeholder="Contact" minlength="10" maxlength="10" required>
    </div>
    <div class="form-group">
        <label for="address">Address</label>
        <input type="text" id="address" name="address" class="form-control" placeholder="Address" required>
    </div>
    <div class="form-group">
        <label for="image">Image</label>
        <input type="file" id="image" name="image" class="form-control" placeholder="Image URL">
    </div>
    <button type="submit" class="btn btn-primary">Add Business</button>
</form>