.wallpaperCarousel{
    margin-top: 2rem !important;
    height: 500px !important;
    overflow: hidden;
    margin-right: 1rem !important;
    margin-left: 1rem !important;
}

.wallpaperCarousel img{
    width: 100%;
    height: auto;
    object-fit: cover;
}